<div style="display: flex; justify-items:center; flex-direction:column; align-items:center">
    <h1>Meu perfil</h1>

    <p>Nome: {{first_name}} {{last_name}}</p>
    <p>E-mail: {{email}}</p>
    <p>Idade: {{age}}</p>

    <a href="/logout">Sair</a>
</div>